.modal-bg {
	animation-name: blurBackgroundIn;
	animation-fill-mode: forwards;
	animation-duration: 300ms;
	animation-timing-function: ease-out;
	opacity: 100% !important;
}

body {
	--background-modifier-cover: rgba(0,0,0,0.3) !important;
}