body:has(.Sunday) {
	--accent-h: 207 !important;
	--accent-s: 100% !important;
	--accent-l: 50% !important;
}

body:has(.Monday) {
	--accent-h: 265 !important;
	--accent-s: 100% !important;
	--accent-l: 50% !important;
}

body:has(.Tuesday) {
	--accent-h: 328 !important;
	--accent-s: 100% !important;
	--accent-l: 50% !important;
}

body:has(.Wednesday) {
	--accent-h: 0 !important;
	--accent-s: 100% !important;
	--accent-l: 50% !important;
}

body:has(.Thursday) {
	--accent-h: 21 !important;
	--accent-s: 100% !important;
	--accent-l: 50% !important;
}

body:has(.Friday) {
	--accent-h: 57 !important;
	--accent-s: 100% !important;
	--accent-l: 30% !important;
}

.daily .HyperMD-header,
.daily h1,
.daily h2, 
.daily h3,
.daily h4,
.daily h5,
.daily h6 {
	text-align: center;
}

.daily .HyperMD-header-1, .daily h1 {
	font-size: 2em;
	font-weight: 900;
	background-image: linear-gradient(
		color-mix(in srgb, var(--color-accent), var(--color-base-100) 5%),
		color-mix(in srgb, var(--color-accent), var(--color-base-100) 30%)
	);
    color: transparent;
    background-clip: text;
}

.daily .HyperMD-header-3.cm-line, .daily h3 {
	background: var(--color-accent);
	border-radius: var(--radius-m);
	color: white;
	width: max-content;
	padding: 4px !important;
	margin: 4px 0px !important;
}

.daily {
	background: color-mix(in srgb, var(--background-primary), var(--color-accent) 5%) !important;
}