body {
	--floating-buttons-background: var(--pluto-note-overlay-background);
	--floating-buttons-border-width: var(--pluto-note-overlay-border-width);
	--floating-buttons-border-color: var(--pluto-note-overlay-border-color);
	--floating-buttons-shadow: var(--pluto-note-overlay-shadow);
	--floating-buttons-blur: var(--large-blur);

	--file-margin-top: var(--size-4-16);
	--file-margin-right: var(--size-4-8);
	--file-margin-bottom: var(--size-4-8);
	--file-margin-left: var(--size-4-8);
	--file-margins: var(--file-margin-top) var(--file-margin-right) var(--file-margin-bottom) var(--file-margin-left);

	--view-header-height: auto !important;
}

.view-header, .nav-header {
	background: transparent !important;
	position: absolute;
	width: 100%;
}

.view-header-nav-buttons {
	--icon-size: var(--icon-m);
}

/*.view-header::before, .nav-header::before {
  	content: "";
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	z-index: -1;
	inset: 0;
	background: transparent !important;

	backdrop-filter: var(--large-blur) !important;
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}*/

.view-header-title-container, .view-header-left, .view-actions, .nav-buttons-container {
	border-radius: var(--radius-xl);
	backdrop-filter: var(--floating-buttons-blur);
	background-color: var(--floating-buttons-background);
	border-width: var(--floating-buttons-border-width);
	border-color: var(--floating-buttons-border-color);
	border-style: solid;
	box-shadow: var(--floating-buttons-shadow);
	margin: 4px;
}

.nav-header {
	height: min-content;
    width: 100%;
	margin: 0;
	z-index: 1;
}

.nav-buttons-container {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.view-actions, .nav-buttons-container {
	padding: 0 !important;
}

.is-mobile .view-action {
	height: var(--touch-size-m);
    width: var(--touch-size-m);
}

.backlink-pane,
.tag-container,
[data-type="all-properties"] .view-content,
[data-type="outline"] .view-content,
.nav-files-container,
[data-type="bookmarks"] .view-content {
	padding-top: 56px !important;
}

.view-header {
	padding: var(--size-4-2);
	height: min-content;
}

/*.view-content {
	margin-top: calc(var(--titlebar-height, 40px) * -1.5);
}

.view-content > :first-child {
	margin-top: calc(var(--titlebar-height, 40px) * 1.5);
}*/

/*.inline-title {
	margin-top: calc(var(--titlebar-height, 40px) * 1.5);
}*/

.view-header *, .view-header-breadcrumb-separator {
    color: var(--color-base-100) !important;
}

.view-header-title-container {
	width: min-content;
	flex: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0 var(--size-4-4);
}

.clickable-icon:not(:has(span)) {
	aspect-ratio: 1;
	border-radius: var(--radius-xl);
	corner-shape: round;
}