body {
	--floating-buttons-background: var(--emerald-note-overlay-background);
	--floating-buttons-border-width: var(--emerald-note-overlay-border-width);
	--floating-buttons-border-color: var(--emerald-note-overlay-border-color);
	--floating-buttons-shadow: var(--emerald-note-overlay-shadow);
	--floating-buttons-blur: var(--large-blur);

	--file-margin-top: var(--size-4-16);
	--file-margin-right: var(--size-4-8);
	--file-margin-bottom: var(--size-4-8);
	--file-margin-left: var(--size-4-8);
	--file-margins: var(--file-margin-top) var(--file-margin-right) var(--file-margin-bottom) var(--file-margin-left);
}

.view-header {
	background: transparent !important;
	position: absolute;
	width: 100%;
}

.view-header::before {
  	content: "";
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	z-index: -1;
	inset: 0;
	background: transparent !important;

	backdrop-filter: var(--large-blur);
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.view-header-title-container, .view-header-left, .view-actions {
	border-radius: var(--radius-xl);
	backdrop-filter: var(--floating-buttons-blur);
	background-color: var(--floating-buttons-background);
	border-width: var(--floating-buttons-border-width);
	border-color: var(--floating-buttons-border-color);
	border-style: solid;
	box-shadow: var(--floating-buttons-shadow);
	margin: 4px;
}

/*.view-content {
	margin-top: calc(var(--titlebar-height, 40px) * -1.5);
}

.view-content > :first-child {
	margin-top: calc(var(--titlebar-height, 40px) * 1.5);
}*/

/*.inline-title {
	margin-top: calc(var(--titlebar-height, 40px) * 1.5);
}*/

.view-header *, .view-header-breadcrumb-separator {
    color: var(--color-base-100) !important;
}

.view-header-title-container {
	width: min-content;
	flex: none;
	margin-left: auto;
	margin-right: auto;
	padding: var(--size-4-4);
}