body {
	--properties-title-text-transform: uppercase;
	--properties-title-color: var(--text-faint);
	--properties-title-font-size: var(--font-ui-small);
}

.metadata-properties-title {
	text-transform: var(--properties-title-text-transform);
	color: var(--properties-title-color);
	font-size: var(--properties-title-font-size);
}