.app-container {
	align-items: center;
}

.status-bar {
	right: var(--radius-m);
	bottom: var(--radius-m);
	box-shadow: var(--status-bar-shadow);
	backdrop-filter: var(--status-bar-blur);
	background-clip: padding-box;
}

.theme-light {
	--status-bar-text-color: black;
}

body {
	--status-bar-radius: var(--radius-xl) !important;
	--status-bar-background: var(--emerald-note-overlay-background);
	--status-bar-border-width: var(--emerald-note-overlay-border-width);
	--status-bar-border-color: var(--emerald-note-overlay-border-color);
	--status-bar-shadow: var(--emerald-note-overlay-shadow);
	--status-bar-blur: var(--emerald-note-overlay-blur);
}

.status-bar-item {
    border-radius: var(--radius-xl);
}