body {
	--inline-title-size: 3em;
	--inline-title-weight: 400;
	--inline-title-underline-size: 4px;
	--inline-title-underline-color: var(--accent-70);
	--inline-title-underline-style: solid;
}

.inline-title {
	border-width: 0px 0px var(--inline-title-underline-size) 0px;
	border-style: var(--inline-title-underline-style);
	border-color: var(--inline-title-underline-color);
}