.tooltip, .graph-controls, .menu {
	border-radius: var(--radius-l);
	backdrop-filter: var(--pluto-note-overlay-blur);
	background-color: var(--pluto-note-overlay-background) !important;
	border-width: var(--pluto-note-overlay-border-width);
	border-color: var(--pluto-note-overlay-border-color);
	border-style: solid;
	box-shadow: var(--pluto-note-overlay-shadow);
}

.theme-light .tooltip {
	color: black;
}

.menu-item {
	border-radius: var(--radius-m);
}

.tooltip-arrow {
	display: none;
}