.tooltip, .graph-controls, .menu {
	border-radius: var(--radius-l);
	backdrop-filter: var(--small-blur);
}

.tooltip, .graph-controls {
	background-color: var(--background-modifier-message) !important;
}

.theme-light .tooltip {
	color: black;
}

.menu-item {
	border-radius: var(--radius-m);
}

.tooltip-arrow {
	display: none;
}