body {
	--radius-xxs: 4px;
	--radius-xs: 6px;
	--radius-s: 8px;
	--radius-m: 12px;
	--radius-l: 16px;
	--radius-xl: 20px;

	--modal-radius: var(--radius-xl);
	--input-radius: var(--radius-xl);
	--setting-items-radius: var(--radius-xl) !important;
	--clickable-icon-radius: var(--radius-m);

	--checkbox-radius: var(--radius-xs);

	--input-shadow: none !important;

	--menu-background: rgb(from var(--background-secondary) r g b / 0.5);
	--menu-border-color: rgb(from var(--background-modifier-border-hover) r g b / 0.5);
	--pluto-background-secondary: rgb(from var(--background-secondary) r g b / 0.75);
	--pluto-border-secondary: rgb(from var(--background-secondary) r g b / 0.85);

	--pluto-smooth-timing: linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);

	--pluto-note-overlay-background: rgb(from var(--background-secondary-alt) r g b / 0.75);
	--pluto-note-overlay-border-width: 0;
	--pluto-note-overlay-border-color: var(--pluto-border-secondary);
	--pluto-note-overlay-shadow: none;
	--pluto-note-overlay-blur: var(--large-blur);

	--accent-10: hsl(var(--accent-h), var(--accent-s), 10%);
	--accent-20: hsl(var(--accent-h), var(--accent-s), 20%);
	--accent-30: hsl(var(--accent-h), var(--accent-s), 30%);
    --accent-40: hsl(var(--accent-h), var(--accent-s), 40%);
    --accent-50: hsl(var(--accent-h), var(--accent-s), 50%);
    --accent-55: hsl(var(--accent-h), var(--accent-s), 55%);
    --accent-60: hsl(var(--accent-h), var(--accent-s), 60%);
    --accent-65: hsl(var(--accent-h), var(--accent-s), 65%);
    --accent-70: hsl(var(--accent-h), var(--accent-s), 70%);
    --accent-80: hsl(var(--accent-h), var(--accent-s), 80%);
    --accent-90: hsl(var(--accent-h), var(--accent-s), 90%);
    --accent-95: hsl(var(--accent-h), var(--accent-s), 95%);
    --accent-98: hsl(var(--accent-h), var(--accent-s), 98%);

	--pluto-neutral-100: #FFFFFF;
	--pluto-neutral-99: #FCFCFD;
	--pluto-neutral-98: #F9FAFB;
    --pluto-neutral-95: #F0F2F5;
	--pluto-neutral-93: #EAEDF0;
	--pluto-neutral-91: #E4E8EC;
    --pluto-neutral-90: #E1E6EA;
	--pluto-neutral-85: #D2D9DF;
	--pluto-neutral-80: #C4CCD4;
    --pluto-neutral-60: #8F99A3;
    --pluto-neutral-40: #5F666D;
    --pluto-neutral-30: #494D50;
    --pluto-neutral-25: #3D4042;
    --pluto-neutral-20: #313335;
	--pluto-neutral-15: #252627;
	--pluto-neutral-10: #191A1A;
	--pluto-neutral-5: #0D0D0D;
	--pluto-neutral-0: #000000;

	--color-gray: var(--pluto-neutral-40);

	--code-radius: var(--radius-m);

	--mobile-sidebar-background: var(--background-secondary) !important;
	--interactive-normal: var(--background-secondary-alt) !important;

	--ribbon-background-collapsed: var(--background-secondary) !important;
	--tab-background-active: var(--background-primary) !important;
}

.theme-dark {
	--background-primary: var(--pluto-neutral-0) !important;
	--background-primary-alt: var(--pluto-neutral-5) !important;
	--background-secondary: var(--pluto-neutral-10) !important;
	--background-secondary-alt: var(--pluto-neutral-5) !important;
	--background-modifier-border: var(--pluto-neutral-15) !important;
	--background-modifier-hover: var(--pluto-neutral-20) !important;

	--text-muted: var(--pluto-neutral-80);
	--text-faint: var(--pluto-neutral-60);

	--background-modifier-message: rgba(0,0,0,0.5) !important;

	--small-blur: blur(4px) saturate(1.25) brightness(1.1);
	--large-blur: blur(20px) saturate(1.5) brightness(1.3);

	--text-button-text-color: var(--accent-40);
	--text-button-text-color-hover: var(--accent-50);
}

.theme-light {
	--background-primary: var(--pluto-neutral-98) !important;
	--background-primary-alt: var(--pluto-neutral-100) !important;
	--background-secondary: var(--pluto-neutral-93) !important;
	--background-secondary-alt: var(--pluto-neutral-95) !important;
	--background-modifier-border: var(--pluto-neutral-90) !important;
	--background-modifier-hover: var(--pluto-neutral-90) !important;
	--background-modifier-message: rgba(255,255,255,0.3) !important;

	--text-muted: var(--pluto-neutral-20);
	--text-faint: var(--pluto-neutral-40);

	--small-blur: blur(4px) saturate(1.1) brightness(1.1);
	--large-blur: blur(20px) saturate(1.5) brightness(1.1);

	--text-button-text-color: var(--accent-60);
	--text-button-text-color-hover: var(--accent-50);
}

@keyframes blurBackgroundIn {
  from {backdrop-filter: blur(0px);}
  to {backdrop-filter: blur(4px);}
}
