body {
	--radius-xs: 4px;
	--radius-s: 8px;
	--radius-m: 12px;
	--radius-l: 16px;
	--radius-xl: 20px;

	--modal-radius: var(--radius-xl);
	--input-radius: var(--radius-xl);
	--setting-items-radius: var(--radius-xl) !important;
	--clickable-icon-radius: var(--radius-m);

	--checkbox-radius: var(--radius-xs);

	--input-shadow: none !important;

	--menu-background: rgb(from var(--background-secondary) r g b / 0.5);
	--menu-border-color: rgb(from var(--background-modifier-border-hover) r g b / 0.5);
	--emerald-background-secondary: rgb(from var(--background-secondary) r g b / 0.75);
	--emerald-border-secondary: rgb(from var(--background-secondary) r g b / 0.85);

	--emerald-smooth-timing: linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);

	--emerald-note-overlay-background: var(--emerald-background-secondary);
	--emerald-note-overlay-border-width: 1px;
	--emerald-note-overlay-border-color: var(--emerald-border-secondary);
	--emerald-note-overlay-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
	--emerald-note-overlay-blur: var(--large-blur);
}

.theme-dark {
	--background-primary: black !important;
	--background-secondary: black !important;
	--background-secondary-alt: black !important;
	--background-modifier-message: rgba(0,0,0,0.5) !important;

	--small-blur: blur(4px) saturate(1.25) brightness(1.1);
	--large-blur: blur(20px) saturate(1.5) brightness(1.3);
}

.theme-light {
	--background-modifier-message: rgba(255,255,255,0.3) !important;

	--small-blur: blur(4px) saturate(1.1) brightness(1.1);
	--large-blur: blur(20px) saturate(1.5) brightness(1.1);
}

@keyframes blurBackgroundIn {
  from {backdrop-filter: blur(0px);}
  to {backdrop-filter: blur(4px);}
}